body{
    background-color:#fbefdb;
    margin: 0%;
}

nav{
background-color: #1f5b25;
padding: 15px;


}
nav a{
color: white;
margin: 15px;
text-decoration: none;
}

nav a:hover{
color: white;
text-decoration: none;
}

nav a:first-child{
font-size: 1.5em;
}

nav a:first-child img{
width:40px;


}

.blogfelirat{
position: absolute;
width: 700px;
height: 60px;
left: 579px;
top: 66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
}

footer{
    background-color: #1f5b25;
    color: white;
    position: absolute;
    left: 100;
    bottom: 0;
    width: 100%;
  
}
