
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


body{
    background-color:#fbefdb !important;
    margin: 0%;
}

nav{
background-color: #1f5b25;
padding: 15px;


}
nav a{
color: white;
margin: 15px;
text-decoration: none;
}

nav a:hover{
color: white;
text-decoration: none;
}

nav a:first-child{
font-size: 1.5em;
}

nav a:first-child img{
width:40px;


}

.blogfelirat{
text-align: center;
font-family: "Fredericka the great";
color: #1f5b25;


font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
}

.blogszoveg{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: #1f5b25;
    color: white;
    position: absolute;
    left: 100;
    bottom: 0;
    width: 100%;
  
}
.gomb{
    border-radius: 5px;
    background-color: #16bb26;
    color: #fff;
    border: none;
    height: 30px;
    width: 150px;
}

.banner{
    background-image: url(./Kavefajtak/fajtakepek/banner-img.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 2000px;
    width: 100%;

}