body{
    background-color:#fbefdb;
    margin: 0%;
    background-image: url(./Kavefajtak/fajtakepek/coffee-beans-2258874_1920.jpg);
}

nav{
background-color: #1f5b25;
padding: 15px;


}
nav a{
color: white;
margin: 15px;
text-decoration: none;
}

nav a:hover{
color: white;
text-decoration: none;
}

nav a:first-child{
font-size: 1.5em;
}

nav a:first-child img{
width:40px;

}


.beleiras{
    position: absolute;
    width: 584px;
    height: 49px;
    left: 30px;
    top: 200px;
    z-index: 10;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: white;
    }

.negyzet{
    position: absolute;
    background-color: black;
    width: 671px;
    height: 492px;
    left: 49px;
    top: 206px;
    opacity: 0.5;
}
