body{
    background-color:#fbefdb;
    margin: 0%;
}

nav{
background-color: #1f5b25;
padding: 15px;


}
nav a{
color: white;
margin: 15px;
}

nav a:hover{
color: white;
text-decoration: none;
}

nav a:first-child{
font-size: 1.5em;
}

nav a:first-child img{
width:40px;

}
footer{
    background-color: #1f5b25;
    color: white;
    position: absolute;
    left: 100;
    bottom: 0;
    width: 100%;
}
