body{
        background-color:#fbefdb;
        margin:0%;
        
        
    }

nav{
    background-color: #1f5b25;
    padding: 15px;
    

}
nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}

nav a:first-child img{
    width:40px;
    
}
.banner{
    background-image: url(banner-img.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 2000px;

}
.kave{
    color: #1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
    
    
    
    

   
}

.kave:hover{
    box-shadow: 0px 0px 5px #1f5b25;
}
.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}
footer{
    background-color: #1f5b25;
    color: white;
    position: absolute;
    left: 100;
    bottom: 0;
    width: 2000px;
  
}

