body{
        background-color:#fbefdb;
        margin:0%;
        
        
    }

nav{
    background-color: #1f5b25;
    padding: 15px;
    width: 2500px;
    

}
nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}

nav a:first-child img{
    width:40px;
    
}
.banner{
    background-image: url(fajtakepek/banner-img.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 1841px;

}
.kave{
    color: #1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 360px;
height: 300px;
left: 540px;
top: 629px;
      
    
}

.kave:hover{
    box-shadow: 0px 0px 5px #1f5b25;
}
.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}
footer{
    background-color: #1f5b25;
    color: white;
    left: 100;
    bottom: 0;
    width: 2000px;
    position: bottom;
    
}
#kep{
    
width: 358px;
height: 210px;
left: 930px;
top: 629px;
}

#kep2{
    width: 358px;
    height: 210px;
    left: 540px;
    top: 629px;
}

#kep3{
    width: 358px;
    height: 210px;
    left: 540px;
    top: 629px;
}

#kep4{
    width: 358px;
    height: 210px;
    left: 540px;
    top: 629px;
}

.my-4{
font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
display: flex;
align-items: center;
text-align: center;
color: #2B7607;
}

.clover{
    border-radius: none;
}

.gomb{
    border-radius: 5px;
    background-color: #16bb26;
    color: #fff;
    border: none;
}